<ion-modal>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Welcome</ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-content class="ion-padding">

      <div class="center">
        <form 
          autocomplete="off"
          class="generic-form" 
          [formGroup]="propertyCreateForm" 
          (ngSubmit)="confirm()">
      
            <ion-item>
              <ion-input 
                tabindex="0"
                expand="full"
                placeholder="Property Name" 
                ngDefaultControl 
                type="text" 
                formControlName="propertyName">
              </ion-input>
            </ion-item>
      
            <ion-item>
              <ion-input 
                tabindex="0"
                expand="full"
                placeholder="Report Title" 
                ngDefaultControl 
                type="text" 
                formControlName="reportTitle">
              </ion-input>
            </ion-item>

            <ion-item class="file-input">

              <!-- <ion-label>Get Picture...</ion-label> -->
              <ion-input 
                  #PlaceholderFileInput
                  tabindex="0"
                  expand="full"
                  placeholder="Get Picture..." 
                  ngDefaultControl 
                  type="text"
                  [disabled]="true">
              </ion-input>
              <ion-button 
                tabindex="0" 
                fill="outline"
                color="dark"
                (click)="selectPhoto()">
                Picture
              </ion-button>
            </ion-item>

            <div class="button-container">
              <ion-button 
                tabindex="0" 
                fill="outline"
                color="danger"
                (click)="cancel()">
                Cancel
              </ion-button>

              <ion-button 
                tabindex="0" 
                fill="outline"
                type="submit"
                color="dark" 
                [disabled]="propertyCreateForm.invalid">
                Create
              </ion-button>
            </div>
          

        </form>
      </div>


    </ion-content>
  </ng-template>
</ion-modal>