.item-container {
    ion-label {
        padding-left: 1rem;
    }

    .role-text {
        color: #9a9a9a;
    }
}

ion-list {
    margin-top: 1rem;

    ion-item {
        margin-top: 1rem;
    }
}