<ion-list>

  <ng-container *ngIf="(propertyCollection$ | async) as propertyCollection">
    <ion-item class="item-container" *ngFor="let property of propertyCollection; trackBy:trackByPropertyId">
      
        <ion-thumbnail>
          <img *ngIf="property.imageUri" [alt]="property.property.id" [src]="property.imageUri" />
        </ion-thumbnail>
  
        <ion-label>{{ property.property.name }}</ion-label>

        <p class="role-text">{{ property.role.name }}</p>

    </ion-item>
  </ng-container>

</ion-list>
