<ion-modal>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Assign User</ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-content class="ion-padding">

      <div class="center">
        <form 
          autocomplete="off"
          class="generic-form" 
          [formGroup]="userAssignForm" 
          (ngSubmit)="confirm()">
      
            <ion-item>
              <ion-input 
                tabindex="0"
                expand="full"
                placeholder="Username" 
                ngDefaultControl 
                type="text" 
                formControlName="username">
              </ion-input>
            </ion-item>
      
            <ion-item>
              <ion-select 
                expand="full"
                ngDefaultControl 
                aria-label="user role" 
                placeholder="Select User Role" 
                formControlName="role">
                <ion-select-option value="Contributer">Contributer</ion-select-option>
                <ion-select-option value="Reader">Reader</ion-select-option>
              </ion-select>
            </ion-item>

            <div class="button-container">
              <ion-button 
                tabindex="0" 
                fill="outline"
                color="danger"
                (click)="cancel()">
                Cancel
              </ion-button>

              <!-- [disabled]="userAssignForm.invalid" -->
              <ion-button 
                tabindex="0" 
                fill="outline"
                type="submit"
                color="dark" 
                >
                Add
              </ion-button>
            </div>

        </form>
      </div>

    </ion-content>
  </ng-template>
</ion-modal>