ion-label {
    margin-bottom: 1rem;
    color: #a3a3a3;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    ion-img {
        width: 50%;
    }
}

.title {
    ion-item {
        text-align: center;
        padding-top: 0.5rem;
    }
    .snag-title {
        font-size: larger;
    }
}

.assign-content {
    ion-label {
        padding-top: 0.5rem;
    }
}

.assignment-label {
  display: flex;
  padding-top: 0.5rem;
  flex-direction: row;
  color: #818181;
  .tag {
    padding-right: 1rem;
  }
}

  
.metadata {
  position: absolute;
  top: 10px;
  inset-inline-end: 10px;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

ion-label strong {
  display: block;
  max-width: calc(100% - 60px);
  overflow: hidden;
  text-overflow: ellipsis;

  ion-note {
    font-size: 0.9rem;
  }
}
ion-item {
  margin-right: 1rem;
  margin-left: 1rem;
}